In [1]:
import numpy as np
import pandas as pd

In [2]:
db = pd.read_csv('enjoysport.csv')

In [3]:
db.head()

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [5]:
temp_db = pd.get_dummies(db['enjoysport'])
temp_db

      no    yes
0  False   True
1  False   True
2   True  False
3  False   True

In [10]:
con_db = pd.concat((db, temp_db), axis = 1)
con_db

     sky airtemp humidity    wind water forcast enjoysport     no    yes
0  sunny    warm   normal  strong  warm    same        yes  False   True
1  sunny    warm     high  strong  warm    same        yes  False   True
2  rainy    cold     high  strong  warm  change         no   True  False
3  sunny    warm     high  strong  cool  change        yes  False   True

In [ ]:
con_db = con_db.drop(["enjoysport"], axis = 1)

In [15]:
con_db

     sky airtemp humidity    wind water forcast     no    yes
0  sunny    warm   normal  strong  warm    same  False   True
1  sunny    warm     high  strong  warm    same  False   True
2  rainy    cold     high  strong  warm  change   True  False
3  sunny    warm     high  strong  cool  change  False   True

In [16]:
con_db = con_db.drop(["no"], axis = 1)

In [17]:
con_db

     sky airtemp humidity    wind water forcast    yes
0  sunny    warm   normal  strong  warm    same   True
1  sunny    warm     high  strong  warm    same   True
2  rainy    cold     high  strong  warm  change  False
3  sunny    warm     high  strong  cool  change   True

In [18]:
con_db = con_db.rename(columns={"yes" : "enjoysport"})

In [19]:
con_db

     sky airtemp humidity    wind water forcast  enjoysport
0  sunny    warm   normal  strong  warm    same        True
1  sunny    warm     high  strong  warm    same        True
2  rainy    cold     high  strong  warm  change       False
3  sunny    warm     high  strong  cool  change        True

In [20]:
db = con_db
db

     sky airtemp humidity    wind water forcast  enjoysport
0  sunny    warm   normal  strong  warm    same        True
1  sunny    warm     high  strong  warm    same        True
2  rainy    cold     high  strong  warm  change       False
3  sunny    warm     high  strong  cool  change        True

In [24]:
n = len(db)
n

4

KeyError: 0